<div class="mediaDiv">


<div>
  <p class="videoSource">{{title}}</p>
<video controls autoplay class="videoAsset"src="../assets/env.mp4"></video>
<p class="content">The natural environment or natural world encompasses all living and non-living things occurring naturally,
   meaning in this case not artificial.
    The term is most often applied to the Earth or 
    some parts of Earth.People cannot find absolutely natural environments on Earth, and 
    naturalness usually varies in a continuum, from 100% natural in one extreme to 0% natural in the other. 
    The massive environmental changes of humanity in the Anthropocene have fundamentally effected all natural 
    environments: including from climate change, biodiversity loss and pollution from plastic and other chemicals 
    in the air and water. More precisely, we can consider the different aspects or components of an environment, 
    and see that their degree of naturalness is not uniform. If, for instance, in an agricultural field, the mineralogic 
    composition and the structure
     of its soil are similar to those of an undisturbed forest soil, but the structure is quite different. </p>
</div>
</div>