.mediaDiv
{
    background: #16232e;
    width: 100%;
    min-height: 100vh;
    display: flex;
    border:0px;
}
.videoSource
{

 font-family: 'Times New Roman', Times, serif;
 font-size: 50px;
 color:white;
padding-left:37%;


}
.videoAsset
{
    width:59%;
    height:43%;
    padding-left:15%;
    padding-top: 4%;

}
.content
{
    color:aliceblue;
    padding-top:10px;
    padding-left: 20px;
    padding-right: 20px;
}